html {
    scroll-behavior: smooth;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a { 
    color: #000000;
}

a:hover {
    color: #884b4b;
    transition: 0.5s;  
}

body {
    font-size: 20px;
    font-weight: normal;
    text-indent: 30px;
    line-height: 30px;
}

.main_container {
    height: 1465px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border-left: 2px solid #884b4b;
    border-right: 2px solid #884b4b;
    border-radius: 55px;
    box-shadow: 30px 30px 30px #808080;
}

.navigation_block {
    height: 35px;
    border: 2px solid #884b4b;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    background-color: #a59797;
    background-clip: padding-box;
}

.navigation_list {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    list-style: none; 
    margin: 0; 
    padding-left: 0;
    line-height: 20px;
}

.item {
    padding: 7px;
    text-indent: initial;
    font-size: 15px;
}

.container_flex {
    display: flex;
    justify-content: center;
    align-items:stretch;
    height: 1382px;
    width: 1000px;
}

.flex-item {
    padding: 20px; 
}

.column_1 {
   flex-shrink: 2;
}

.column_2 {
    flex-shrink: 1;
}

header {
    text-align: center;
}

.name {
    height: 30%;
    width: auto;
    padding-top: 10px;
    margin: 10px;
}

h1 {
    height: 20%;
    font-style: italic;
    font-size:50px;
    line-height:50px;
}

.position {
    font-style: italic;
    font-size:30px;
    color: #884b4b;
    font-weight: 900;
}

.me {
    border-radius: 40%;
}

h2 {
    font-size: 25px;
    text-align: left;
    border: 2px solid #884b4b;
    border-radius: 40px 10px;
    background-color: #a59797;
}

.contacts {
    padding-top: 10px;
}

.about-me {
    padding-top: 240px;
}

.courses_list, 
.languages-list {
    text-indent: initial;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    border: 2px solid #884b4b;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    background-color: #a59797;
    background-clip: padding-box;
}

.github, 
.year,
.rss {
    padding-top: 9px;
    text-indent: initial;
}

.repository {
    position: relative;
    bottom: 10px;
    font-weight: bold;
}

.year {
    padding-top: 3px;
    font-weight: bold;    
}


